.circle {
    width: 30px;
    height: 30px;
    margin: 20px;
    border-radius: 50%;
    background: white;
    -webkit-animation-name: color-transition;
	animation-name: color-transition;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/*default value for timing-function is ease, we'll specify linear to keep the same timing through out*/
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@keyframes color-transition {
    0% {-webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);}
    50% {-webkit-box-shadow: 6px 7px 5px 0px rgba(122, 120, 120, 0.75);
        -moz-box-shadow: 6px 7px 5px 0px rgba(122, 120, 120, 0.75);
        box-shadow: 6px 7px 5px 0px rgba(122, 120, 120, 0.75);}
    100% {-webkit-box-shadow: 6px 7px 5px 0px rgba(252, 252, 252, 0.75);
        -moz-box-shadow: 6px 7px 5px 0px rgba(252, 252, 252, 0.75);
        box-shadow: 6px 7px 5px 0px rgba(252, 252, 252, 0.75)}
}